<div class="poem" id="poem{{ poem.id }}">
    <div class="row">
        <div class="col-md-12">
            <div class="poem-text">
                {% autoescape false %} 
                    {{ poem.text }}
                {% endautoescape %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-condensed meta-data-table">
                <tr class="meta-info-title">
                    <td>
                        Generations
                    </td>
                    <td>
                        Current Generation 
                    </td>
                    <td>
                        Mutation Probability
                    </td>
                    <td>
                        Selection Fraction 
                    </td>
                    <td>
                        Population Size
                    </td>
                </tr>
                <tr class="meta-info-value">
                    <td>
                        <span>{{ poem.generations }}</span>
                    </td>
                    <td>
                        <span>
                            {% if poem.current_generation > poem.generations %}
                                Final
                            {% endif %}
                            {% if poem.current_generation <=  poem.generations %}
                                {{ poem.current_generation }}
                            {% endif %}
                        </span>
                    </td>
                    <td>
                        <span> {{ poem.mutation_probability }}</span>
                    </td>
                    <td>
                        <span> {{ poem.breeding_fraction }} </span>
                    </td>
                    <td>
                        <span> {{ poem.starting_population_size }}</span>
                    </td>
                </tr>
            </table>
            <table class="table table-bordered table-condensed meta-data-table">
                <tr class="meta-info-title">
                    <td>
                        Seed Words
                    </td>
                </tr>
                <tr class="meta-info-value">
                    <td>
                        {% for seed_word in poem.seed_words %}
                            {{ seed_word.word }}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="poem-links">
            </div>
        </div>
    </div>
</div>
